<!DOCTYPE html>
<html>

<head>
     <title>Simple Map</title>
     <meta name="viewport" content="initial-scale=1.0">
     <meta charset="utf-8">
     <style>
          body{
               text-align: center;
               background-color: lightblue;
               color: #fff;
          }
     </style>
</head>

<body>
     <h1>Contact Successfully Accessed !</h1>
     <h2>this is belongs to</h2>
     <h3>
          Name : <%= data.who%>
          Job : <%= data.department%>
          Email : <%= data.email%>
     </h3>
</body>

</html>
