<!DOCTYPE html>
<html>

<head>
     <title>Simple Map</title>
     <meta name="viewport" content="initial-scale=1.0">
     <meta charset="utf-8">
     <style>
          body{
               text-align: center;
               background-color: lightblue;
               color: #fff;
          }
     </style>
</head>

<body>
     <h1>this is index page</h1>
     <h4>the query is <%= qs.name%></h4>
</body>

</html>
