<!DOCTYPE html>
<html lang="en" dir="ltr">
     <head>
          <meta charset="utf-8">
          <title></title>
     </head>
     <link rel="stylesheet" href="/css/style.css" type="text/css">
     <body>
          <% include nav.ejs %>
          <h1>this is view folder</h1>
          <h4>this is  profile of <%= data.age%></h4>
     </body>
</html>
